
*{
padding: 0px;
margin:0px;
}


button.accordion {
	margin:0px;
    background-color: #eee;
    color: #444;
    padding: 0px;
    width: 100%;
    font-size: 15px;  
    
}
div.panel {
    padding: 15px;
    display: none;
}
div.panel.show {
    display: block !important;
}
