*{
padding: 0px;
margin:0px;
font-family:arial;
}
header {
background:#009688; 
color:#FFFFFF; 
padding:10px;
}
p {font-size:1em;}
h1 {font-size:2em;}
h5 {font-size:1.5em;}
a {color:#FFFFFF}
button.accordion {
margin:0px;
background-color: #eee;
color: #444;
padding: 0px;
width: 100%;
font-size: 2em;  
}
.menuLink {
padding-top:10px;
font-size:2em;
text-align:center;
}
.vibrationButton {
width:100%;
font-size: 2em;
margin: 0.5em 0em;
}
div.panel {
padding: 15px;
display: none;
}
div.panel.show {
display: block !important;
//text-align:center;
}
.container {
padding:10px; 
min-height:30vh;
}
footer {
padding:10px;
background:#009688; 
color:#FFFFFF; 
position:absolute;
width:100%;
}
