*{
padding: 0em;
margin:0em;
font-family:arial;
font-size:1em;
}
header {
background:#009688; 
color:#FFFFFF; 
padding:5%;
min-height:10vh;
}
p {
font-size:1em;
}
h1 {
font-size:2em;
}
h5 {
font-size:1.5em;
}
a {
color:#FFFFFF
}
.websiteLink {
color:#009688;
}
button.accordion {
margin:0em;
background-color:#EEEEEE;
color:#444;
padding:0em;
width:100%;
font-size:2em;
}
.menuLink {
padding-top:10px;
font-size:1.5em;
text-align:center;
}
.vibrationButton {
width:100%;
float:center;
font-size:1.5em;
margin:1em 0em;
padding:0em;
}
div.panel {
padding: 15px;
display: none;
}
div.panel.show {
display: block !important;
//text-align:center;
}
.container {
padding:2%; 
min-height:65vh;
width:96%;
max-width:69%;
}
footer {
padding:5%;
background:#009688; 
color:#FFFFFF; 
min-height:10vh;
}
